//@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

//@import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
//@import "foundation/components/buttons";
//@import "foundation/components/forms";
//@import "foundation/components/dropdown";

@import "compass/css3/transition";
@import "compass/css3/box-shadow";

.cedit-wrapper{
	height: 0;
	overflow: visible;
	position: relative;
}

.cedit-element{
	border: 1px dotted black;
	&.changed{
		border-color: blue;
	}
}

.cedit-button-bar{
	&.top-fixed{
		position: fixed;
		z-index: 6010;
	}
	&.above-content{
		position: absolute;
		bottom: 0;
		top: -70px;
	}
	
	display: border-box;
	font-size: 20px;
	background-color: #eee;
	padding: 10px 10px 10px 10px;
	margin: 0px;
	top: 0;
	z-index: 6000;
	width: 100%;
	border: 2px solid #DDD;
	border-left: 0;
	border-top: 0;

	.cedit-button-group{
		margin-right:10px;
	}
	ul{
		display:inline-table;
		list-style-type:none;
		margin:0;
		padding:0;
		li{
			display:inline-block;
		}
	}
	.cedit-button{
		font-size: 14px;
		background-color:#E9E9E9;
		border: darken(#E9E9E9, 20%);
		color: #333333;
		padding:1em;
		padding-top: 0.625em;
		padding-bottom: 0.5625em;

		@include box-shadow(0 1px 0 rgba(255, 255, 255, 0.5) inset);
		@include transition(background-color 0.3s);

		border-style: solid;
		border-width: 1px;
		cursor: pointer;
		font-family: inherit;
		font-weight: bold;
		line-height: 1;
		margin: 0;
		text-decoration: none;
		text-align: center;
		display: inline-block;

		border: 0;
		font: inherit;
		vertical-align: baseline;
		box-sizing: border-box;
		&:hover{
			background-color: darken(#E9E9E9, 10%); 
		}
	}
	.cedit-has-dropdown{
		a{ display: block; }
		&:hover .cedit-dropdown{ display:inline-block; }
	}
	.cedit-dropdown{
		width: 0;
		display: inline-block;
		overflow: visible;
		position: absolute;
		display: none;
		li{
			min-width:150px;
		}
		
	}
}


.ui-widget-overlay.ui-front{
	z-index: 7998;
}
.ui-dialog.ui-front{
	z-index: 7999;
}

#news-items .item .remove{
	position:absolute;
	top:5px;
	right:5px;
	color:red;
	i{
		font-size:20px;
	}
	:hover{
		color:darken(red, 10%);
	}
}

.cedit-error, .cedit-success{
	position: fixed;
	right:10px;
	z-index:9000;
	overflow: hidden;
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px 20px;
	text-align: center;

	-webkit-animation:myfirst 5s; 
	animation:myfirst 5s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards; 
	animation-fill-mode: forwards;
}
.cedit-success{
	color: darken(#90EE90, 50%);
	background: #90EE90;
	border-color: darken(#90EE90, 10%);
}
.cedit-error{
	color: white;
	
	background: #F80000;
	border-color: darken(#F80000, 10%);
	font-weight: bold;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst{
	0%		{top:-50px;}
	5%		{top:10px;}
	95%		{top:10px; }
	100%	{top:-50px;}
}

/* Standard syntax */
@keyframes myfirst{
	0%		{top:-50px;}
	5%		{top:10px;}
	95%		{top:10px; }
	100%	{top:-50px;}
}
