{
  "env": {
    "cjs": {
      "presets": [["@babel/env", { "modules": "cjs", "shippedProposals": true }]],
      "plugins": [
        "add-module-exports"
      ]
    },
    "es": {
      "presets": [["@babel/env", { "modules": false, "shippedProposals": true }]],
    }
  }
}
